################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/protect the pig
/protect the pig/obj/Debug
/protect the pig/bin/Debug
/protect the pig 2
